<app-menu></app-menu>

<div style="position: absolute; top: 0; right: 0; z-index: 9999;">
  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <ngb-toast
      *ngFor="let toast of toastService.toasts"
      [class]="toast.classname"
      [autohide]="true"
      [header]="' '"
      [delay]="toast.delay || 3000"
      (hide)="toastService.remove(toast)">

      <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
        <ng-template [ngTemplateOutlet]="toast.body"></ng-template>
      </ng-template>
      <ng-template #text>{{ toast.body }}</ng-template>
    </ngb-toast>
  </div>
</div>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

