<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-blue">
  <a class="navbar-brand" href="#">Desafio Cielo</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/extrato" routerLinkActive="active">Extrato</a>
      </li>
    </ul>
  </div>
</nav>
